
div{
    font-family: 'Outfit', sans-serif;
}
.nav-item a{
    color: white !important;
    font-size: 12px;
}
nav{
    padding: 60px !important;
}
.col-9 >img, .col-8>img, .content>img{
    width: 100%;
    height: auto;
}
p{
    font-size: 12px;
    color: hsl(0deg, 0%, 63%);;
}
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content{
padding: 40px !important;
}
.about-content h2{
    text-transform: uppercase;
    padding-bottom: 10px;
    letter-spacing: 7px;
    font-weight: 600;
   font-size: 1.3em;
}
.container {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
h1{
        font-size: 3.2rem;
        font-weight: 400;
    
    letter-spacing: -0.2rem;
}



@media screen and (min-width: 1024px) {
    body{
        height: 100vh;        
    }
    body>div{
        height: 100%;
    }
    #carouselExampleSlidesOnly{
        height: 70%;
    }
    .about{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    /*.carousel-inner{
        height:100%;
    }
    .carousel-item.active{
        height: 100%;
        width: 100%;
    }*/
    .col-9, .col-8{
        height: 70vh;
        flex: 0 0 60%;
    }
    .content-box{
        padding:5rem;
    }
    .heading, .content-heading{
        font-size:4.5em;
    }
    .content-paragraph{
        font-size: 1.3em;
    }
}


